<div style="float: right">
    <a class="btn-expand" title="Show/Hide items details" data-ng-click="extraPayloadExpanded = !extraPayloadExpanded">
        <strong>
            <span data-ng-if="tx.proReg">Provider Register</span>
            <span data-ng-if="tx.proUpServ">Provider Update Service</span>
            <span data-ng-if="tx.proUpReg">Provider Update Registrar</span>
            <span data-ng-if="tx.proUpRev">Provider Revoke</span>
            <span data-ng-if="tx.sparkData">Spark Name</span>
            <span data-ng-if="tx.cbTx">Coinbase</span>
            <span data-ng-if="tx.finalCommitment">Final Commitment</span>
            <span data-ng-if="tx.sporkTx">Spork Control</span>
        </strong>
        <span class="glyphicon glyphicon-plus-sign" data-ng-class="{'glyphicon-minus-sign': extraPayloadExpanded}"></span>
    </a>
</div>
<table  style="..." class="table" data-ng-show="extraPayloadExpanded && tx.proReg">
    <tbody>
    <tr>
        <td class="text-muted">Version</td>
        <td class="text-muted ellipsis">{{tx.proReg.version}}</td>
    </tr>
    <tr>
        <td class="text-muted">Collateral</td>
        <td class="text-muted ellipsis">
            <a href="tx/{{tx.proReg.collateralHash}}">{{tx.proReg.collateralHash}}:{{tx.proReg.collateralIndex}}</a>
        </td>
    </tr>
    <tr>
        <td class="text-muted">Service</td>
        <td class="text-muted ellipsis">{{tx.proReg.service}}</td>
    </tr>
    <tr>
        <td class="text-muted">Owner Address</td>
        <td class="text-muted ellipsis"><a href="address/{{tx.proReg.ownerAddress}}">{{tx.proReg.ownerAddress}}</a></td>
    </tr>
    <tr>
        <td class="text-muted">Payout Address</td>
        <td class="text-muted ellipsis"><a href="address/{{tx.proReg.payoutAddress}}">{{tx.proReg.payoutAddress}}</a></td>
    </tr>
    <tr>
        <td class="text-muted">Operator Pubkey</td>
        <td class="text-muted ellipsis">{{tx.proReg.pubKeyOperator}}</td>
    </tr>
    <tr>
        <td class="text-muted">Operator Reward</td>
        <td class="text-muted ellipsis">{{tx.proReg.operatorReward}}</td>
    </tr>
    <tr>
        <td class="text-muted">Input Hash</td>
        <td class="text-muted ellipsis">{{tx.proReg.inputsHash}}</td>
    </tr>
    </tbody>
</table>
<table  style="..." class="table" data-ng-show="extraPayloadExpanded && tx.proUpServ">
    <tbody>
    <tr>
        <td class="text-muted">Version</td>
        <td class="text-muted ellipsis">{{tx.proUpServ.version}}</td>
    </tr>
    <tr>
        <td class="text-muted">Provider Tx Hash</td>
        <td class="text-muted ellipsis">
            <a href="tx/{{tx.proUpServ.proTxHash}}">{{tx.proUpServ.proTxHash}}</a>
        </td>
    </tr>
    <tr>
        <td class="text-muted">Service</td>
        <td class="text-muted ellipsis">{{tx.proUpServ.service}}</td>
    </tr>
    <tr>
        <td class="text-muted">Operator Payout Address</td>
        <td class="text-muted ellipsis"><a href="address/{{tx.proUpServ.operatorPayoutAddress}}">{{tx.proUpServ.operatorPayoutAddress}}</a></td>
    </tr>
    <tr>
        <td class="text-muted">Input Hash</td>
        <td class="text-muted ellipsis">{{tx.proUpServ.inputsHash}}</td>
    </tr>
    </tbody>
</table>
<table  style="..." class="table" data-ng-show="extraPayloadExpanded && tx.proUpReg">
    <tbody>
    <tr>
        <td class="text-muted">Version</td>
        <td class="text-muted ellipsis">{{tx.proUpReg.version}}</td>
    </tr>
    <tr>
        <td class="text-muted">Provider Tx Hash</td>
        <td class="text-muted ellipsis">
            <a href="tx/{{tx.proUpReg.proTxHash}}">{{tx.proUpReg.proTxHash}}</a>
        </td>
    </tr>
    <tr>
        <td class="text-muted">Payout Address</td>
        <td class="text-muted ellipsis"><a href="address/{{tx.proUpReg.payoutAddress}}">{{tx.proUpReg.payoutAddress}}</a></td>
    </tr>
    <tr>
        <td class="text-muted">Operator Pubkey</td>
        <td class="text-muted ellipsis">{{tx.proUpReg.pubKeyOperator}}</td>
    </tr>
    <tr>
        <td class="text-muted">Input Hash</td>
        <td class="text-muted ellipsis">{{tx.proUpReg.inputsHash}}</td>
    </tr>
    </tbody>
</table>
<table  style="..." class="table" data-ng-show="extraPayloadExpanded && tx.proUpRev">
    <tbody>
    <tr>
        <td class="text-muted">Version</td>
        <td class="text-muted ellipsis">{{tx.proUpRev.version}}</td>
    </tr>
    <tr>
        <td class="text-muted">Provider Tx Hash</td>
        <td class="text-muted ellipsis">
            <a href="tx/{{tx.proUpRev.proTxHash}}">{{tx.proUpRev.proTxHash}}</a>
        </td>
    </tr>
    <tr>
        <td class="text-muted">Reason</td>
        <td class="text-muted ellipsis">{{tx.proUpRev.reason}}</td>
    </tr>
    <tr>
        <td class="text-muted">Input Hash</td>
        <td class="text-muted ellipsis">{{tx.proUpRev.inputsHash}}</td>
    </tr>
    </tbody>
</table>
<table  style="..." class="table" data-ng-show="extraPayloadExpanded && tx.cbTx">
    <tbody>
    <tr>
        <td class="text-muted">Version</td>
        <td class="text-muted ellipsis">{{tx.cbTx.version}}</td>
    </tr>
    <tr>
        <td class="text-muted">Height</td>
        <td class="text-muted ellipsis">{{tx.cbTx.height}}</td>
    </tr>
    <tr>
        <td class="text-muted">Node List</td>
        <td class="text-muted ellipsis">{{tx.cbTx.merkleRootMNList}}</td>
    </tr>
    <tr data-ng-if="tx.cbTx.version>1">
        <td class="text-muted">Quorums</td>
        <td class="text-muted ellipsis">{{tx.cbTx.merkleRootQuorums}}</td>
    </tr>
    </tbody>
</table>
<table  style="..." class="table" data-ng-show="extraPayloadExpanded && tx.finalCommitment">
    <tbody>
    <tr>
        <td class="text-muted">Version</td>
        <td class="text-muted ellipsis">{{tx.finalCommitment.version}}</td>
    </tr>
    <tr>
        <td class="text-muted">Height</td>
        <td class="text-muted ellipsis">{{tx.finalCommitment.height}}</td>
    </tr>
    <tr>
        <td class="text-muted">Commitment Version</td>
        <td class="text-muted ellipsis">{{tx.finalCommitment.commitment.version}}</td>
    </tr>
    <tr>
        <td class="text-muted">LLMQ Type</td>
        <td class="text-muted ellipsis">{{tx.finalCommitment.commitment.llmqType}}</td>
    </tr>
    <tr>
        <td class="text-muted">Quorum Hash</td>
        <td class="text-muted ellipsis">{{tx.finalCommitment.commitment.quorumHash}}</td>
    </tr>
    <tr>
        <td class="text-muted">Signers Count</td>
        <td class="text-muted ellipsis">{{tx.finalCommitment.commitment.signersCount}}</td>
    </tr>
    <tr>
        <td class="text-muted">Valid Members Count</td>
        <td class="text-muted ellipsis">{{tx.finalCommitment.commitment.validMembersCount}}</td>
    </tr>
    <tr>
        <td class="text-muted">Quorum Public Key</td>
        <td class="text-muted ellipsis">{{tx.finalCommitment.commitment.quorumPublicKey}}</td>
    </tr>
    </tbody>
</table>

<div data-ng-show="extraPayloadExpanded && tx.sporkTx">
<table  style="..." class="table" >
    <span class="text-muted">Version: {{tx.sporkTx.version}}</span>
    <tbody>
    <tr>
        <td class="text-muted" translate>Feature</td>
        <td class="text-muted" translate>Height</td>
        <td class="text-muted" translate>Parameter</td>
        <td class="text-muted" translate>Type</td>
    </tr>
    <tr data-ng-repeat="item in tx.sporkTx.actions">
        <td>{{item.feature}}</td>
        <td>{{item.enableAtHeight}}</td>
        <td>{{item.parameter}}</td>
        <td>{{item.actiontype}}</td>
    </tr>
    </tbody>
</table>
</div>
<table style="..." class="table" data-ng-show="extraPayloadExpanded && tx.sparkData">
    <tbody>
      <tr>
        <td class="text-muted">Name</td>
        <td class="text-muted ellipsis">{{tx.sparkData.name}}</td>
      </tr>
      <tr>
        <td class="text-muted">Address</td>
        <td class="text-muted ellipsis">
            {{tx.sparkData.address.substring(0, 64)}}...
        </td>
      </tr>
      <tr>
        <td class="text-muted">Valid until block</td>
        <td class="text-muted ellipsis">{{tx.sparkData.validUntil}}</td>
      </tr>
      <tr data-ng-if="tx.sparkData.additionalInfo">
        <td class="text-muted">Additional Info</td>
        <td class="text-muted ellipsis">{{tx.sparkData.additionalInfo}}</td>
      </tr>
    </tbody>
  </table>